@import "base";
@import "fonts";

body{
    font-family: "Acumin Pro", sans-serif;
}
.toggler{
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    span{
        display: block;
        width: 1.4rem;
        height: 2px;
        margin-top: 4px;
        background-color: #fff;
        transition: 0.5s;
        &:nth-child(1){
            margin-top: 0;
        }
    }
    &.active{
        span{
            &:nth-child(1){
                transform: rotate(-45deg) translateX(-9px);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: rotate(45deg) translateX(-9px);
            }
        }
    }
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002042;
    height: 6rem;
}
.logo{
    img{
        height: 3rem;
    }
}
.content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/home-bg.jpg");
    background-position: center center;
    background-size: cover;
    min-height: calc(100vh - 6rem);
    background-attachment: fixed;
}
.header{
    padding: 2rem 1rem;
    &__logo{
        padding: 1rem 0;
        img{
            height: 3rem;
            margin: 0 auto;
        }
    }
    &__description{
        color: #fff;
        text-align: center;
        margin: 1rem 0;
    }
    &__form{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            font-size: 0.7rem;
            padding: 1rem;
            padding-left: 1.4rem;
            &:focus{
                outline: #002042 solid 1px;
            }
        }

        button{
            padding: 1rem;
            background-color: #002042;
            color: #fff;
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 300ms ease-in-out;
            &:hover{
                background-color: rgba($color: #002042, $alpha: 0.3);
            }
        }
    }
}
.menu-mobile{
    position: absolute;
    top: 6rem;
    left: 0;
    background-color: #002042;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 6rem);
    z-index: 20;
    width: 0;
    transition: width 0.5s ease-in-out;
    a{
        text-decoration: none;
        color: #fff;
        display: none;
        opacity: 0;
        transition: opacity 0.3s;
    }
    &.active{
        width: 80%;
        a{
            opacity: 1;
            display: flex;
        }
    }
}
.section{
    background-color: #e2e2e2;
    &__heading{
        color: #002042;
        font-weight: 700;
        font-size: 1.5rem;
        padding-top: 2rem;
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        position: relative;
    }
}
.article{
    background-color: #fff;
    &__image-box{
        position: relative;
    }
    &__price{
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding: 8px;
        background-color: rgba($color: #002042, $alpha: 0.3);
        color: #fff;
        font-weight: 700;
    }
    &__info{
        h2{
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 4px;
            text-align: center;
            margin-top: 1rem;
        }
        p{
            font-size: 0.7rem;
            line-height: 1.2rem;
            color: #9c9a9a;
            text-align: justify;
            padding: 0 1rem;
        }
    }
}