@import "base";
@import "fonts";

body{
    font-family: "Acumin Pro", sans-serif;
}
.toggler{
    background-color: transparent;
    cursor: pointer;
    span{
        display: block;
        width: 1.8rem;
        height: 3px;
        margin-top: 4px;
        background-color: #fff;
        &:nth-child(1){
            margin-top: 0;
        }
    }
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002042;
    height: 6rem;
}
.logo{
    img{
        height: 3rem;
    }
}
.content{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/home-bg.png");
    background-position: center center;
    background-size: cover;
    min-height: calc(100vh - 6rem);
}
.header{
    padding: 2rem 1rem;
    &__logo{
        padding: 1rem 0;
        img{
            height: 4rem;
            margin: 0 auto;
        }
    }
    &__description{
        color: #fff;
        text-align: center;
        margin: 1rem 0;
    }
    &__form{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;
        input{
            padding: 1rem 2rem;
            &:focus{
                outline: #002042 solid 1px;
            }
        }

        button{
            padding: 1rem;
            background-color: #002042;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            transition: background-color 300ms ease-in-out;
            &:hover{
                background-color: rgba($color: #002042, $alpha: 0.3);
            }
        }
    }
}